nav {
  display: flex;
  border: 1px solid salmon;
  height: 2rem;
  padding: 1rem 2rem;
}
#menuAndbtn {
  margin-left: auto;
}
#menuAndbtn:hover #options-div {
  display: grid;
}

#menu-btn {
  padding: 8px 1rem;
  color: white;
  background-color: rgb(4, 4, 4);
  border-radius: 5px;
  border: none;
}
#menu-btn:hover {
  background-color: rgba(4, 4, 4, 0.768);
  cursor: pointer;
}



#options-div {
  display: none;
  position: absolute;
  background-color: blue;
}
#options-div a {
  color: #fff;
  padding: 5px 1rem;
  text-decoration: none;
}
#options-div a:hover {
  background-color: rgb(0, 117, 117);
}

/* Gallery options */
#gallery-options {
  display: none;
  background-color: blueviolet;
  gap: 10px;
  position: absolute;
  right: 100%;
  margin-top: -1rem;
}
#gallery-main:hover {
  color: red;
}
#gallery-main:hover #gallery-options {
  display: grid;
}

#help-options {
  display: none;
}
#help:hover #help-options {
  display: grid;
}
